:root {
    --color-primary: #3b82f6;
    --color-secondary: #6b7280;
    --color-primary-emphasis: #0091E5;
    --color-secondary-emphasis: #673ADE;
    --color-lightprimary: #dbeafe;
    --color-lightsecondary: #f3f4f6;
    --color-info: #0ea5e9;
    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-error: #ef4444;
    --color-lightsuccess: #dcfce7;
    --color-lighterror: #fee2e2;
    --color-lightinfo: #e0f2fe;
    --color-lightwarning: #fef3c7;
    --color-white: #fff;
    --color-dark: #1a1a1a;
    --color-border: #e5e7eb;
    --color-bordergray: #d1d5db;
    --color-link: #2563eb;
    --color-muted: #9ca3af;
    --color-darklink: #666666;
    --color-lightgray: #f3f4f6;
}